<div class="login-screen">

  <div class="branding">
    <h1>Institute App</h1>
    <p>Learn better. Score higher.</p>
  </div>

  <div class="login-card">

    <!-- EMAIL STEP -->
    <ng-container *ngIf="step === 'email'">

      <h2>Welcome Back 👋</h2>

      <label>Email Address</label>

      <input
        type="email"
        placeholder="Enter your email"
        [(ngModel)]="email"
      />

      <button (click)="sendOtp()">Continue</button>

      <span class="hint">OTP will be sent to this email</span>

    </ng-container>


    <!-- OTP STEP -->
    <ng-container *ngIf="step === 'otp'">

      <h2>Verify OTP 🔐</h2>

      <p class="otp-info">
        6-digit code sent to <b>{{maskedEmail}}</b>
      </p>
      <p class="otp-placeholder" *ngIf="otp.length === 0">
  Enter OTP
</p>

      <!-- OTP WRAPPER -->
      <div class="otp-wrapper" (click)="focusInput()">

        <!-- hidden input -->
        <input
          #otpInput
          type="text"
          maxlength="6"
          class="otp-hidden"
          [(ngModel)]="otp"
          (input)="onOtpChange()"
          autocomplete="one-time-code"
        />
        <!-- visible boxes -->
        <div class="otp-boxes">

          <div
            class="box"
            *ngFor="let box of otpArray; let i = index"
            [class.active]="i === otp.length"
          >
            {{ otp[i] || '' }}
          </div>

        </div>

      </div>

      <button (click)="verifyOtp()" [disabled]="otp.length !== 6">
        Verify
      </button>

      <span class="hint" *ngIf="!canResend">
        Resend OTP in {{timer}} sec
      </span>

      <span class="resend" *ngIf="canResend" (click)="resendOtp()">
        Resend OTP
      </span>

    </ng-container>

  </div>

</div>