<div class="login-screen">
  <div class="branding">
    <h1>Institute App</h1>
    <p>Learn better. Score higher.</p>
  </div>

  <div class="login-card">

    <!-- STEP 1 -->
    <ng-container *ngIf="step === 'email'">
      <h2>Welcome Back 👋</h2>

      <label>Email Address</label>
      <input
        type="email"
        maxlength="100"
        placeholder="Enter your email address"
        [(ngModel)]="email"
      />

      <button (click)="sendOtp()">Continue</button>
      <span class="hint">OTP will be sent to this email</span>
    </ng-container>

    <!-- STEP 2 -->
    <ng-container *ngIf="step === 'otp'">
      <h2>Verify OTP 🔐</h2>

      <label>Enter OTP</label>
      <p class="otp-info">6-digit code sent to <b>{{maskedEmail}}</b></p>

      <!-- OTP BOXES -->
      <div
        class="otp-boxes"
        [class.shake]="otpError"
      >
      <input
    *ngFor="let _ of otpBoxes; let i = index"
    #otpInput
    type="text"
    maxlength="1"
    inputmode="numeric"
    class="otp-input"
    (input)="onOtpInput($event, i)"
    (keydown.backspace)="onOtpBackspace(i)"
    (paste)="onOtpPaste($event)"
  />
  
      </div>

      <!-- VERIFY -->
      <button
        (click)="verifyOtp()"
        [disabled]="!isOtpComplete"
        [class.disabled]="!isOtpComplete"
      >
        Verify
      </button>

      <!-- TIMER -->
      <span class="hint" *ngIf="!canResend">
        Resend OTP in {{ timer }} sec
      </span>

      <!-- RESEND -->
      <span class="resend" *ngIf="canResend" (click)="resendOtp()">
        Resend OTP
      </span>
    </ng-container>

  </div>
</div>