<ng-container *ngIf="courseData">

  <!-- SMALL CARD — hamesha dikhega -->
  <div class="card" (click)="toggleDetail()">
    <h4>{{ courseData?.title }}</h4>
    <p>{{ courseData?.description }}</p>
    <button>View Course</button>
    <!-- ✅ Quiz button add karo -->
  <button (click)="$event.stopPropagation(); goToQuiz()">
    📝 Take Quiz
  </button>
    <button (click)="$event.stopPropagation(); payNow()" *ngIf="!isPaidUser()">
      Pay ₹{{ courseData?.price }}
    </button>
  </div>

  <!-- COURSE DETAIL — sirf click karne pe dikhega -->
  <div class="course-page" *ngIf="showDetail">

    <!-- CLOSE BUTTON -->
    <button class="close-btn" (click)="toggleDetail()">✕ Close</button>

    <!-- HEADER -->
    <div class="course-header">
      <h1>{{ courseData?.title }}</h1>
      <p>{{ courseData?.description }}</p>
      <span class="badge">Class 9–10</span>
    </div>

    <!-- COURSE INFO -->
    <div class="info-box">
      <div>
        <strong>Teacher</strong>
        <p>{{ courseData?.teacher }}</p>
      </div>
      <div>
        <strong>Duration</strong>
        <p>{{ courseData?.duration }}</p>
      </div>
      <div>
        <strong>Price</strong>
        <p>₹{{ courseData?.price }}</p>
      </div>
    </div>

    <!-- CHAPTER LIST -->
    <div class="chapters">
      <h3>Course Content</h3>
      <div
        class="chapter"
        *ngFor="let ch of courseData?.chapters"
        [class.locked]="!ch.free && !isPaid"
      >
        <span>{{ ch.name }}</span>
        <span class="status" *ngIf="ch.free">FREE</span>
        <span class="status lock" *ngIf="!ch.free && !isPaid">🔒 Locked</span>
        <span class="status unlock" *ngIf="isPaid">▶ Watch</span>
      </div>
    </div>

    <!-- BUY BUTTON -->
    <button class="buy-btn" *ngIf="!isPaidUser()" (click)="payNow()">
      Buy Course ₹{{ courseData?.price }}
    </button>

    <!-- DOWNLOAD INVOICE -->
    <button class="buy-btn" *ngIf="isPaidUser()" (click)="downloadInvoice()">
      Download Invoice PDF
    </button>

  </div>

</ng-container>